.ascender-dark {
    background-color: #19192D;
}

.curved {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.ascender-light {
    background-color: #F0F5F7;
}


@font-face {
    font-family: Quicksand-Bold;
    src: url(./fonts/Quicksand/static/Quicksand-Bold.ttf);
}

@font-face {
    font-family: Quicksand-Regular;
    src: url(./fonts/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Nunito-Bold;
    src: url(./fonts/Nunito_Sans/static/NunitoSans_10pt-Black.ttf);
}

@font-face {
    font-family: Nunito-Regular;
    src: url(./fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf);

}

.font-Nunito-regular {
    font-family: Nunito-Regular;
}

.font-Nunito-bold {
    font-family: Nunito-Bold;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.font18 {
    font-size: 18px;
}

.font14 {
    font-size: 14px;
}

body {
    font-family: Quicksand-Regular;
}

.text-bold {
    font-family: Quicksand-Bold;
}

.yellow {
    color: #FFC045;
}

a,
.orange {
    color: #E56039 !important;
}

.blue {
    color: #3428C2
}

.light {
    color: #C5D1E8
}

.gradiant-blue {
    background: linear-gradient(to right, #3D2AC4, #0FBCEC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.outlined {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}


.place .child {
    visibility: hidden;

}

.place:hover .child {
    visibility: visible;
}

.place:hover .font18 {
    color: #3428C2;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

/* Add position for new places here  */
#Pune {
    left: 800px;
    top: 200px
}

#Delhi {
    left: 800px;
    top: 180px
}

#Mumbai {
    left: 820px;
    top: 200px
}

#Dubai {
    left: 700px;
    top: 200px
}

#Thailand {
    left: 900px;
    top: 200px
}